annuaire2.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:simpleType name="technoType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="XML" />
    <xs:enumeration value="Java" />
    <xs:enumeration value="Autre" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="telType">
  <xs:restriction base="xs:integer">
    <xs:pattern value="[0-9][0-9][0-9][0-9][0-9]"/>
  </xs:restriction>
</xs:simpleType>
  
  
  <xs:element name="contact">
    <xs:complexType >
      <xs:sequence>
        <xs:element type="xs:string" name="nom"/>
        <xs:element type="xs:string" name="prenom"/>
        <xs:element type="telType" name="telephone" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="email"  minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="titre"/>
      <xs:attribute type="technoType" name="techno"  use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
