annuaire.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="numerosType">
        <xs:sequence>
            <xs:element name="contact" type="contactType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>


  <xs:element name="contactType">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nom"/>
        <xs:element type="xs:string" name="prenom"/>
        <xs:element type="xs:string" name="telephone" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="email" />
      </xs:sequence>
      <xs:attribute type="xs:string" name="titre"/>
      <xs:attribute type="xs:string" name="techno" minOccurs="0" maxOccurs="1"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
